@font-face {
  font-family: 'LetsGoDigitalRegular';
  src: url("../font/7barSPBd.TTF") format("truetype"); }

body {
  /* margin-top: 20px; */
  background-color: #333;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
  background: linear-gradient(rgba(200, 200, 200, 0.15), rgba(0, 0, 0, 0.404));
  padding: 1rem 2rem;
  margin: 0 0 1rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2rem;
}

.time {
  vertical-align: middle;
  text-align: center;
  width: 300px;
  background-color: #000;
  font-size: 46pt;
  color: #ddd;
  line-height: 42px;
  font-family: 'LetsGoDigitalRegular';
  text-shadow: 0 0 5px #fff; }

section {
  margin: 0 0 1rem 0;
}

section h2 {
	color: #999;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.channels {
}

.well {
	background: #222;
	border-radius: 7px;
	box-shadow: 0px 0px 3px black inset;
	padding: 10px;
	position: relative;
	z-index: 0;
}
/*
 * Button
 */
.button {
  box-sizing: border-box;
  margin: 0 0.5rem 0.5rem 0;
  position: relative;
  box-shadow: 0 0 0 2px black, 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 50px rgba(255, 255, 255, 0.1) inset;
  border-radius: 5px;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.button:before {
  content: ' ';
  position: absolute;
  left: 8%;
  top: 8%;
  width: 84%;
  height: 84%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  z-index: -2;
}

.button:after {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 84%;
  height: 84%;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(200, 200, 200, 0.15));
  content: " ";
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.button.red {
  box-shadow: 0 0 0 2px black, 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 50px rgba(255, 255, 255, 0.1) inset, 0 0 30px 0 red, 0 0 30px 5px red inset; }

.button.red:before {
  background-color: rgba(255, 150, 150, 0.7); }

.button.green {
  box-shadow: 0 0 0 2px black, 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 50px rgba(255, 255, 255, 0.1) inset, 0 0 30px 0 green, 0 0 30px 5px green inset; }

.button.green:before {
  background-color: rgba(150, 255, 150, 0.7); }

.button.yellow {
  box-shadow: 0 0 0 2px black, 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 50px rgba(255, 255, 255, 0.1) inset, 0 0 30px 0 rgba(255, 233, 0, 0.8), 0 0 10px 5px #ffc200 inset, 0 0 50px 13px rgba(255, 165, 0, 0.7) inset; }

.button.yellow:before {
  background-color: rgba(255, 255, 150, 0.7); }

 /* :active is when button is pushed */
.button:active {
  box-shadow: 0 0 0 2px black, 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 50px rgba(255, 255, 255, 0.1) inset, 0 0 10px 10px rgba(0, 0, 0, 0.5) inset;
}
.button:active:before {
  background-color: rgba(150, 150, 150, 0.7);
}
.button:active:after {
  left: 8px;
  top: 8px;
  height: 59px;
  width: 59px;
}
/* Button spacer is space in the size of button for better layouting */
.button-spacer {
  box-sizing: border-box;
  margin: 0 .5rem .5rem 0;
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
}
.button.disabled {
  color: #333333;
  opacity: 0.5;
}
.button.disabled:active {
  box-shadow: 0 0 0 0;
}

.button-column {
  width: 4.5rem;
  display: inline-block;
}


/*
 * Slider
 */
.sliders {
  position: relative;
  width: 300px;
  height: 75px;
  margin-top: 6px; }

.sliders:before {
  content: ' ';
  position: absolute;
  top: 32px;
  width: 100%;
  height: 5px;
  background-color: #030303;
  z-index: -2; }

.sliders:after {
  content: ' ';
  position: absolute;
  top: 28px;
  width: 100%;
  height: 13px;
  background-color: #444;
  border-radius: 5px;
  z-index: -3; }

.slider {
  position: relative;
  margin-left: -17px;
  /*margin-top: 2px;*/
  /*margin-bottom: 10px;*/
  width: 35px;
  height: 70px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to right, #a7a5a8 0%, #aba9ac 15%, #ededed 30%, #7a7a7e 74%, #7a7a7e 75%, #6d6d6f 100%); }

.slider:before {
  content: ' ';
  position: absolute;
  top: 33px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #030303 0%, #5e5957 40%, #55514f 45%, #1e1c1b 50%, #030303 70%, #474a4d 75%, #353332 90%, #040404 100%);
  z-index: 1; }

.slider:after {
  content: ' ';
  position: absolute;
  top: -4px;
  width: 100%;
  height: 78px;
  border-radius: 13px;
  background: linear-gradient(to right, #818081 0%, #b2adad 40%, #a09d9d 45%, #757679 70%, #75777b 100%);
  box-shadow: #000 1px 1px 10px 0;
  z-index: -1; }
